{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="gh-main">
    <article class="gh-article {{post_class}}">

        {{#match @page.show_title_and_feature_image}}
            <header class="gh-article-header gh-canvas">
                <h1 class="gh-article-title is-title">{{title}}</h1>
                {{#if custom_excerpt}}
                    <p class="gh-article-excerpt is-body">{{custom_excerpt}}</p>
                {{/if}}
                {{> "feature-image"}}
            </header>
        {{/match}}

        <section class="gh-content gh-canvas is-body">
            {{content}}
        </section>

    </article>
</main>

{{/post}}


<div class="design-system-container">
  <h1>Design System</h1>
  <p>This is the Pill Theme design system and component library.</p>
  
  <hr>
  <h2>Typography</h2>
  <p>Font sizes, default spacing, and typefaces available.</p>
  
  <div class="design-system-container">
      <p><strong>Headings</strong></p>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      
      <h1 class="font-anton">Header 1</h1>
      <h2 class="font-anton">Header 2</h2>
      <h3 class="font-anton">Header 3</h3>
      <h4 class="font-anton">Header 4</h4>
      <h5 class="font-anton">Header 5</h5>
      
      <hr>
      <p><strong>paragraphs</strong></p>
      
      <h2 class="font-anton">Header 2</h2>
      <p><strong>r sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</strong></p>
      
      <p>Lorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</p>
      
      <p>r sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</p>
  </div>
  
  <p><strong>Content styles</strong></p>
  <div class="design-system-container">
    <div class="gh-content">
      <p><strong>Headings</strong></p>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      
      <h1 class="font-anton">Header 1</h1>
      <h2 class="font-anton">Header 2</h2>
      <h3 class="font-anton">Header 3</h3>
      <h4 class="font-anton">Header 4</h4>
      <h5 class="font-anton">Header 5</h5>
      
      <hr>
      <p><strong>paragraphs</strong></p>
      
      <h2 class="font-anton">Header 2</h2>
      <p><strong>r sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</strong></p>
      
      <p>Lorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</p>
      
      <p>r sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amitLorem ipsum dolor sit amit</p>
      
      
      <p>I picked up this new book: Introduction to Zig, written by Pedro Duarte Faria, a couple of weeks ago. I finished it today, and started to write a new programming language in it, named Mage.</p>
      
      <p>Zig is small, simple, low level programming language suitable for high performance, embedded, and systems level tasks. It’s billed as a replacement to C; Which I think it is. And offers great interoperability with C. Like it’s really good. I initially became interested in learning Zig, because I kept seeing Rust compared to Zig, and I was learning Rust at the time. (A month ago). I really like Rust, but to me, Zig feels like a simpler alternative, at least on the memory management side. For the purposes I’m using it for, Writing a small embeddable programming language for the web, it’s a better choice.</p>
      
      <blockquote>
        I'm trying my best! What are you doing?
      </blockquote>
      
      <blockquote class="kg-blockquote-alt">
        I'm trying my best! What are you doing?
      </blockquote>
      
      <h2>What's next are lists</h2>
      
      <ul>
        <li>This is my favorite list of all.</li>
      </ul>
      
    </div>
  </div>
  
</div>
